@font-face {
    font-family: poppins;
    src: url(FONTS/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: comic_neue;
    src: url(FONTS/Comic_Neue/ComicNeue-Bold.ttf);
}
@font-face {
    font-family: CormonatGaramond;
    src: url(FONTS/Cormorant_Garamond/static/CormorantGaramond-Medium.ttf);
}
@font-face {
    font-family: west-wing;
    src: url(FONTS/alternative-the-west-wing-font/Lapidary\ roman.ttf);
}
@font-face {
    font-family: avenir;
    src: url(FONTS/avenir-condensed-hand/AvenirCondensedHand.ttf);
}
@font-face {
    font-family: carra;
    src: url(FONTS/MacondoSwashCaps-Regular.ttf);
}
@font-face {
    font-family: nikea;
    src: url(FONTS/FatSansRound\ \(1\).ttf);
}
@font-face {
    font-family: vision;
    src: url(FONTS/vision/Vision-Light.otf);
}
@font-face {
    font-family: esp;
    src: url(FONTS/magical-stylish-sans-serif-demo-font/MagicalStylishSansSerifDemo-qLKq.otf);
}
@font-face {
    font-family: eb;
    src: url(FONTS/EBGaramond-Regular.ttf);
}

.Rectangle{
    position: relative;
    width: 674.49px;
    height: 668.42px;
    }
    .Rectangle1{
    box-sizing: border-box;
    position: absolute;
    left: 46.11%;
    right: -21.05%;
    top: 4.88%;
    bottom: 38.85%;
    background: #534D4D;
    border: 1px solid #5E5858;
    border-radius: 53px;
    transform: rotate(43.29deg);
    }
    .Rectangle2{
    position: absolute;
    left: 1.04%;
    right: -10.08%;
    top: -28.32%;
    bottom: 87.22%;
    background: rgb(243, 235, 248);
    }
    .Rectangle4{
    position: absolute;
    width: 462px;
    height: 353px;
    top: 42%;
    left: 20%;
    background: rgb(243, 235, 248);
    border-radius: 53px;
    }
    .Rectangle3{
    position: absolute;
    left: 102.68%;
    right: -60.07%;
    top: 7.53%;
    bottom: 25.35%;
    background: rgb(243, 235, 248);
    }
    .Polygon{
    position: absolute;
    left: 60.26%;
    right: -7.7%;
    top: 65.51%;
    bottom: 15.57%;
    margin-left: 210px;
    background: rgb(243, 235, 248);
    transform: rotate(55.06deg);
    }
    .element{
        float: right;
        margin-top: -5%;
        overflow: hidden;
        position: relative;
        z-index: -1;
        
    }
    .icon{
        display: flex;
        gap: 15%;
        top: 13.5%;
        position: absolute;
        color: rgb(255, 255, 255);
        cursor: pointer;
        overflow: visible;
        right:15.8%;
    }
    #search{
       margin-top: 10%;
    }
    #person{
        margin-top: 10%;
    }
    #shoppingBag{
        margin-top: 10%;
    }
    .caraa{
        font-family: carra;
        font-size: 190%;

    }
    body{
        padding: 5% 11%;
        background-color: rgb(243, 235, 248);
    }
    .home{
        display: flex;
        gap: 40%; 
        padding-top: 4%;
    }
    a{
        text-decoration: none;
        color: black;
    }
    .navig{
        display: flex;
        gap: 17%;
        font-family: CormonatGaramond;
        cursor: pointer;
    }
    .tree img{
        margin-left: 56.9%;
        margin-top: -26.5%;
        overflow: hidden;
        position: relative;

    }
     .elevate{
        font-family: CormonatGaramond;
        font-size: 190%;
        margin-top: -35%;
     }
     #para1{
        font-size: 50%;
        margin-bottom: -2%;
     }
     #homie{
        border: dashed 2px gray;
     }
     .start {
        display: flex;
        gap: 24px;
    }
    .start p {
        padding: 7px;
        margin-bottom: 0px;
        font-family: poppins;
        cursor: pointer;
    }
    .start button {
        border-radius: 40px;
        background-color: rgb(71, 70, 70);
        border: solid 1px rgb(71, 70, 70);
        font-size: 15px;
        height: 78px;
        width: 180px;
        color: white;
        font-family: poppins;
        cursor: pointer;
    }
    .start button:hover{
        background-color: rgb(241, 190, 190);
        border: rgb(241, 190, 190) solid 1px;
        color: rgb(10, 10, 10);
    }
    .youtube {
        cursor: pointer;
        margin-top: 2.5%;
        width: 29px;
        height: 35px;
        margin-left: -0.5%;
    }
    #para2{
        font-size: 53%;
        margin-left: -2%;

    }

.nums {
    display: flex;
    gap: 7%;
    font-size: 27px;
    padding-top: 0px;
    margin-top: 4%;
    font-family: 'Times New Roman', Times, serif;
}
.descriptions {
    display: flex;
    gap: 4.9%;
    padding-top: 13px;
    font-family: poppins;
    font-size: 75%;

}
.logos {
    border: none;
    padding: 4% 1%;
    background-color: #f7f1e5;
    display: flex;
    gap: 8%;
    margin-top: 150px;
    font-size: 45px;
    margin-bottom: 12%;
    color: rgb(90, 89, 89);
}
#para7{
    font-family: nikea;
    color: darkgrey;

}
#para9{
    font-family: vision;
}
#para10{
    font-family: esp;
}
#para11{
    font-family: Libre Caslon Display;
 }
#para12{
    margin-bottom: 3%;
}

.firstproduct{
        padding-bottom: -8%;
        gap: 3%;
}

#new1{
    position: relative;
    margin-left: 7%;
    font-size: 105;
    color: rgb(255, 12, 12);
    font-family: poppins;
}
#discount1{
   position: relative;
    margin-left: 11%;
    font-size: 105%;
    font-family: poppins;
}

.black{
    margin-left: 77%;
    padding-bottom: -6%;
    font-size: small;
    
}
#new2{
    font-size: 105%;
    color: rgb(255, 12, 12);
    font-family: poppins;
}

#discount2{
    font-size: 105%;
    font-family: poppins;
    margin-left: 50%;
}

.products img{
    /* display: flex;
    /* word-spacing: 87px;*/
    margin-left: 7%;
    margin-top: -5%;
    overflow: hidden;
    z-index: -1;
}
#flower{
    width: 16%;
}
#blue{
    width: 16%;
}
#white{
    width: 16%;
}
#brown{
    width: 17%;
}
.prices{
    display: flex;
    gap: 15%;
    margin-left: 9%;
    font-family: CormonatGaramond;
    font-size: 100%;
    color: rgb(18, 36, 20);
}
.restyle{
    font-family: eb;
    text-align: center;
    margin-top: 8%;
    font-size: 200%;
    margin-bottom: 12%;
}
#style{
    font-size: 65%;
    margin-top: -2%;
}
.decor {
    display: flex;
    margin-bottom: 18%;
   
}
.decor1 img{
    width: 60%;
    height: 100%;
    margin-left: 6%;
}
.decortext{
    font-family: eb;
    font-size: 100%;
    margin-top: 5%;
    margin-left: -10%;
}

.subtext{
    font-size: 330%;
    
}
#transform{
    font-family: eb;
    font-size: 130%;
    margin-top: 2.5%;
}
.decortext button{
        border-radius: 40px;
        background-color: rgb(255, 255, 255);
        border: solid 2px rgb(0, 0, 0);
        font-size: 15px;
        height: 79px;
        width: 180px;
        color: rgb(0, 0, 0);
        font-family: poppins;
        cursor: pointer;
        margin-top: 7%;

}
.decortext button:hover{
    background-color: rgb(88, 52, 52);
    border: rgb(88, 52, 52) solid 1px;
    color: rgb(255, 254, 254);
}



.homedecor_all{
    display: flex;
    font-family: eb;
    margin-left: 12%;
    gap: 6%;
    font-size: 120%;
    margin-bottom: 16%;

}
.homedecor{
    margin-top: 9%;
}
.subtext{
    margin-top: -2%;
    margin-bottom: -2%;
}
.home-image img{
    width: 95%;
    height: 105%;
    margin-left: 17%;
    margin-top: 3%;
}
.homedecor_all button{
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(0, 0, 0);
    font-size: 15px;
    height: 79px;
    width: 180px;
    color: rgb(0, 0, 0);
    font-family: poppins;
    cursor: pointer;
    margin-top: 7%;
}
.homedecor_all button:hover{
    background-color: rgb(88, 52, 52);
    border: rgb(88, 52, 52) solid 1px;
    color: rgb(255, 254, 254);
}

.offer{
    text-align: center;
    font-family: CormonatGaramond;
    font-size: 130%;
    margin-bottom: 7%;
}
#offer_head{
    font-size: 200%;
    margin-bottom: -1%;
}
.offer_pics img{
    margin-left: 11.9%;
    gap: 4.5%;
    margin-bottom: 1%;
}
.offer_h3{
    color: #313030;
    text-align: center;
    display: flex;
    margin-left: 12%;
    gap: 14.7%;
    margin-bottom: -0.5%;

}
.offer_para{
    display: flex;
    margin-left: 12%;
    gap: 14%;
    text-align: center;
    margin-bottom: 11%;

}
.reviews{
    font-family: CormonatGaramond;
    text-align: center;
    margin-bottom: 12%;
}
.reviews h2{
    font-size: 200%;
    margin-bottom: -1%;
}
.reviews p{
    font-family: eb;
    font-size: large;
    
}
.homedecor2{
    display: flex;
    font-family: CormonatGaramond;
    font-size: larger;
    /* margin-bottom: 10%; */
}
.vase_decor{
    margin-left: 13%;  
    margin-top: 7%;
}
#arthur{
    width: 10%;
    height: 13%;
    margin-left: 1%;
}
#arthur_name{
    position: relative;
    top: -5%;
    margin-left: 4%;   
}
.homedecor2 img{
    margin-left: 7%;
    width: 39%;
    height: 30%;
}
.mixed{
    font-family: eb;
    display: flex;
    margin-left: 60%;
    margin-top: -20%;
}
#arrow{
    margin-left: 48%;
    margin-top: -1.6%;
    font-size: 290%;
}
.final_para{
    border: none;
    padding-left: 7%;
    background-color: #f7f1e5;
    font-family: eb;
    margin-top: 25%;
    display: flex;
    margin-left: 5%;
    gap: 15%;
    margin-bottom: 8%;
}
.fa{
    cursor: pointer;
}
.last_para{
    font-family: eb;
    margin-left: 12%;
}
#comp{
    font-family: eb;
    margin-left: 61%;
    cursor: pointer;
}
#copy{
    font-family: CormorantGaramond;
    width: 1.4%;
    margin-bottom: -0.4%;
}
.best{
    display: flex;
    gap: 0.5%;
    margin-bottom: 2%;
}
#flip-horizontal{
    margin-left:80%;
    color: rgb(136, 131, 131);
    cursor: pointer;
}
#fa-play{
    cursor: pointer;
} 

.yellow_dot {
    position: absolute;
    top: 65%;
    right: 80%;
    width: 13%;
    height: 25%;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: black;
}